<!DOCTYPE html>
<html lang="en">
<head>
    <title>New post</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="container">
    <h1>Add a New Post</h1>
    <form action="/posts" method="POST">
      <input type="text" name="title" placeholder="Post title" required><br>
      <textarea name="content" placeholder="Add detail" required></textarea><br>
      <button type="submit" class="btn">Create</button>
    </form>
    <a href="/">Back</a>
  </div>    
</body>
</html>