</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © 
   <%= new Date().getFullYear() %>
   
   <!-- % let y = new Date(); let year = y.getFullYear() % %= year % --> 
  
  </p>
</footer>
</body>

</html>